/* Erstelle ein Formular mit je einem Input-Feld für E-Mail und Password (max. 8 Zeichen). Füge einen Submit und Reset-Button hinzu.
Verwende den Input-Type "password" und das Attribut "maxlength", um die Anzahl der für ein Feld zulässigen Zeichen zu begrenzen.

In dieser Übung können wir HTML5-Elemente verwenden, um das Formular besser zu strukturieren.
Hier sind ein paar HTML5-Elemente, die du verwenden kannst: <form>, <fieldset>, <legend>, <label> <input type="email"> etc. */

* {
  box-sizing: border-box;
}

div {
  display: flex;
  align-content: space-around;
}

fieldset {
  margin: 10px;
  padding: 5px 10px 10px 10px;
  border-color: black;
}

section {
  margin: 2px;
}
